@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@400;700|Teko:500|Overpass+Mono:600');

/*css reset*/
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 

:root {
	--blue: #11929E;
	--yellow: #FFF9B1;
	--green: #9AB285;
	--pink: #FFB896;
	--brown: #B2A589;
	--grey: #212628;
	--lt: rgba(217, 210, 196, 1);
}

body {
	/* background-image: url(../img/bg.svg);
	background-size: 125px; */
	background-color: #B2A589;
	width: 95%;
	margin: auto;
	height: 100%;
	display: grid;
	grid-template-columns: 350px 1fr;
	grid-template-rows: min-content min-content 1fr;
}

section {	
	margin: 10px;
	padding: 10px;
	/* outline: solid 2px white; */
}


/* lightbox container */
.slbContentEl .slbContentOuter {
	max-width: 80%;
	margin: auto;
	padding: 2.8em 1em;
}

.slbContent {
	padding: 20px;
	border: 3px solid var(--pink);
	background-color: var(--lt) !important;
}

.slbCloseBtn {
    -webkit-animation: slbEnter 0.3s;
    -moz-animation: slbEnter 0.3s;
    animation: slbEnter 0.3s;
	font-size: 3em;
	line-height: 1em;
    width: 1em;
    height: 1em;
    position: absolute;
    right: .1em;
    top: 0;
    color: #fff;
    color: rgba(255,255,255,0.7);
	text-align: center;
  }

.project-grid {
	display: grid;
	max-width: 100%;
	grid-template-columns: 66% 34%;
}

#links {
	display:flex;
	justify-content: space-between;
	flex-direction: column;
	overflow-x: hidden;
}


#about {
	grid-column: 1/3;
	border-top: solid 5px #FFB896;
	margin: 20px;
	margin-bottom: 10px;
	overflow-y: hidden;
}

#about-content {
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	margin: 0;
	padding: 10px;
}

#portrait {
	border: 3px solid #fff;
	object-fit: fill;
	height: 200px;
	margin-right: 15px;
}


.project-bullet-grid {
	display: grid;
	grid-template-columns: 60% 40%;
}
.github-links {
	text-align: right;
}

#app-links * {
	display: inline-block;
}

.splash-image-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.splash-image {
	object-fit: scale-down;
	width: 60%;
	border-radius: 5px;
}

.project-overview {
	margin-bottom: 20px;
}

.project-description {
	margin-bottom: 20px;
}

.picture-grid {
	max-width: 100%;
	display: flex;
	margin-top: 0;
}


.app-pic {
	object-fit: contain;
	max-width: 80%;
	max-height: 100%;
	margin: auto;
	margin-top: 0;
} 

h1 {
	font-size: 250%;
	font-family: 'Teko', sans-serif;
	letter-spacing: 1px;
	color: #212628;
	line-height: 100%;
}

h2 {
	font-size: 200%;
	font-family: 'Teko', sans-serif;
	letter-spacing: 1px;
	color: #212628;
}

h3 {
	font-size: 150%;
	font-family: 'Teko', sans-serif;
	letter-spacing: 1px;
	color: #212628;
}

h4 {
	font-size: 115%;
	font-family: 'Teko', sans-serif;
	letter-spacing: 1px;
	color: #212628;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: #212628;
	line-height: 130%;
	margin-bottom: 5px;
}

.bold {
	font-weight: 700;
}

ul {
	list-style-type: square;
	list-style-position: inside;
	font-family: Open Sans, sans-serif;
	width: 100%;
	height: 100%;

}

#projects {
	grid-column: 1/3;
	border: 2px solid var(--pink);
	margin: 20px;
}

#project-list {
	width: 100%;
	list-style: none;
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
}

.project-thumb {
	cursor: pointer;
	border: 2px solid var(--yellow);
	margin: 5px;
	margin-bottom: 20px;
	padding: 10px;
	transition: all .4s ease-out;
	background-color: var(--lt);
}

.project-thumb:hover {
	background-color: var(--grey);
	border: 2px solid var(--pink);
}

.project-thumb:hover > p {
	color: white;
}

.project-thumb:hover > a {
	color: white;
	background-color: var(--grey);
}

.thumbnail-title {
	position: relative;
	top: -20px;
}

a {
	font-size: 110%;
	font-family: Overpass Mono, monospace;
	text-decoration: none;
	color: #212628;
	background-color: #FFF9B1;
	padding:5px;
	transition: color .4s ease-out, background-color .4s ease-out;
}

.slim {
	padding:0px;
}

/* mouse over link */
a:hover {
	color: white;
	background-color: var(--grey);
}

/* selected link */
a:active {
	color: #FFF9B1;
	background: none;
}

*:focus {
	outline: none;
	border: 2px dashed var(--blue);
}

.top-link {
	text-align: right;
	font-size: 110%;
	font-family: 'Overpass Mono', monospace;
	color: #212628;
	display: inline-block;
	width: 100%;
	padding: 3px;
	margin: 1px;
	letter-spacing: 1px;
}

#project-list-title {

	margin-left: 5px;
	margin-bottom: 10px;
}

.aspect-ratio {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 51%;
	margin-bottom: 10px;
  }
  .aspect-ratio iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: auto;
	border: none;
  }


/*responsive app*/
@media only screen and (max-width: 1150px) {
	.project-grid {
		display: flex;
		flex-direction: column;
	}	
	.picture-grid {
		
		max-width: 50%;
		margin: auto;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 830px) {
	body{
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	section {
		margin-top: 0;
		padding-top: 0;
	}

	#about {
		margin-top: 10px;
	}

	.top-link {
		text-align: left;
	}

	#logo {
		margin-top: 10px;
		max-width: 50%;
	}

	#project-list {
		grid-template-columns: 50% 50%;
	}

	.slbContentEl .slbContentOuter {
		max-width: 90%;
	}
}

@media only screen and (max-width: 550px) {
	.slbContentEl .slbContentOuter {
		max-width: 98%;
	}
	#project-list {
		grid-template-columns: 100%;
	}
	#portrait {
		display: none;
	}

}
